<h1> Songs Page </h1>
<% @songs.each do |song| %>
<% artist = Artist.find(song.artist_id) %>
<% genre = Genre.find(song.genre_id) %>
<h1> <%= link_to(song.name, song_url(song)) %></h1>
<h4> <%= link_to(song.genre_id, genre_url(genre)) %></h4>
<h4> <%= link_to(song.artist_id, artist_url(artist)) %></h4>
<% end %>
